<div class="container">
    <h1>Formulaire de génération</h1>
    <form>
      <div class="form-group">
        <label for="item-level">Niveau</label>
        <input type="number" class="form-control" id="item-level" required>
      </div>

      <div class="form-group">
        <label for="item-rarity">Rareté</label>
        <input type="text" class="form-control" id="item-rarity">
      </div>
      
      <div class="form-group">
        <label for="item-slot">Emplacement</label>
        <input type="text" class="form-control" id="item-slot">
      </div>

      <button type="submit" class="btn btn-success">Générer !</button>

    </form>
</div>